*.pth
*.md
dataset1
dataset2
dataset3
dataset4
gpds
github-repo
sample_Signature
uploads
__pycache__
*.png
*.jpg
*.jpeg
*.gif
*.webp
models/best_80.keras
models/best_sia.keras
gpds_siamese.py
generate_test_pairs.py
accuracy.py
d1run.py
dataset1.py
pretrained.py
